<div class="index_title">
<h1>ブログ一覧</h1>
</div>


<div class="index_content"> 
    <h2>タイトル</h2>
    <h2>内容</h2>
  <div>
  <br>
  
<% @blogs.each do |blog| %>

    <div class="index_blog">
      <div>
      <%= blog.title %>
      </div>
      <br>
      <div>
      <%= blog.content %>
      </div>
      <br>
      <div>
      <%= image_tag blog.image %>
      </div>
    </div>
    <br>
    
    <div class="index_khs">
      <%= link_to '確認', blog_path(blog.id), class: "btn btn-success btn-xs" %>
      <%= link_to '編集', edit_blog_path(blog.id), class: "btn btn-warning btn-xs" %>
      <%= link_to '削除', blog_path(blog.id), method: :delete ,data: { confirm: '本当に削除してもよいですか？' }, class: "btn btn-danger btn-xs" %>
　  </div>
　  <br>


<% end %>


<br>
<div class="index_newblog">
  <p><%= link_to '新しくブログを投稿する', new_blog_path, class: "btn btn-primary btn-lg" %></p>
</div>
