<div class="cover text-white text-center b py-5">
  <h1 class="display-4 mb-4">advance！</h1>

<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>
  


  <%= f.submit "Log in" %>
<% end %>

<br>
<%= link_to "All postings list！", blogs_path, class: "btn btn-primary btn-md" %>

